body {
    font-family: 'Montserrat', sans-serif !important;
    background: black;
}

.bg-black {
    background: black;
}

.design-01 {
    background: url('assets/img/05.png') rgba(0, 123, 255, 0.9); 
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.design-santos {
    background: #b9f6ca;
}